<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zucc.edu.javen.tw.dao.RankGuokeDao">

    <resultMap id="rankguoke" type="com.zucc.edu.javen.tw.entity.RankGuoke">
        <id property="id" column="id" javaType="java.lang.Integer"/>
        <result property="url" column="iid" javaType="java.lang.Integer"/>
        <result property="title" column="title" javaType="java.lang.String"/>
        <result property="adddate" column="add_date" javaType="java.lang.Integer"/>
        <result property="getdate" column="get_date" javaType="java.util.Date"/>
        <result property="rank" column="rank" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="getRankguokeNewsList" resultMap="rankguoke">
        select * from rank_guoke order by id desc limit 0,100
    </select>

    <select id="getHisRankguokeNewsList" resultMap="rankguoke" parameterType="string">
        select * from rank_guoke where get_date &lt; #{getdate} order by id desc limit 0,50
    </select>
</mapper>