<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 引入外部配置文件 -->
    <!--<properties resource="jdbc.properties"/>-->
    <!--    <properties resource="./conf/jdbc.properties"/>-->
    <typeAliases>
        <typeAlias type="com.zucc.edu.javen.tw.entity.UserEntity" alias="UserEntity"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.PickEntity" alias="PickEntity"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.Rank163" alias="Rank163"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.Rank36kr" alias="Rank36kr"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankBaidu" alias="RankBaidu"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankBilibili" alias="RankBilibili"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankGuoke" alias="RankGuoke"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankPearvedio" alias="RankPearvedio"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankPengpai" alias="RankPengpai"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankQdaily" alias="RankQDaily"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankToutiao" alias="RankToutiao"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankWeibo" alias="RankWeibo"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankYc" alias="RankYc"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankZhihu" alias="RankZhihu"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankTieba" alias="RankTieba"/>
        <typeAlias type="com.zucc.edu.javen.tw.entity.RankZhihuword" alias="RankWordZhihu"/>
    </typeAliases>


    <!-- 配置mybatis运行环境 -->
    <environments default="cybatis">
        <environment id="cybatis">
            <!-- type="JDBC" 代表使用JDBC的提交和回滚来管理事务 -->
            <transactionManager type="JDBC"/>

            <!-- mybatis提供了3种数据源类型，分别是：POOLED,UNPOOLED,JNDI -->
            <!-- POOLED 表示支持JDBC数据源连接池 -->
            <!-- UNPOOLED 表示不支持数据源连接池 -->
            <!-- JNDI 表示支持外部数据源连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://cdb-r9tzcdd0.cd.tencentcdb.com:10125/towhere"/>
                <property name="username" value="root"/>
                <property name="password" value="tenderkun123"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/Rank36krMapper.xml"/>
        <mapper resource="mapper/Rank163Mapper.xml"/>
        <mapper resource="mapper/RankbaiduMapper.xml"/>
        <mapper resource="mapper/RankbilibiliMapper.xml"/>
        <mapper resource="mapper/RankguokeMapper.xml"/>
        <mapper resource="mapper/RankpearvedioMapper.xml"/>
        <mapper resource="mapper/RankpengpaiMapper.xml"/>
        <mapper resource="mapper/RankqdailyMapper.xml"/>
        <mapper resource="mapper/RanktiebaMapper.xml"/>
        <mapper resource="mapper/RanktoutiaoMapper.xml"/>
        <mapper resource="mapper/RankweiboMapper.xml"/>
        <mapper resource="mapper/RankzhihuwordMapper.xml"/>
        <mapper resource="mapper/RankycMapper.xml"/>
        <mapper resource="mapper/RankzhihuMapper.xml"/>
        <mapper resource="mapper/PickMapper.xml"/>
        <mapper resource="mapper/NewsMapper.xml"/>
    </mappers>
</configuration>